/* Normalize */

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
  /* font-size: 15px; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.box-grid {
  display: grid;

  /* Learned that 1fr is more robust than the auto */
  /* The new fr unit represents a fraction of the available space in the grid container. */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  
  /* Make the perfect square by keeping aspect ratio of 1 */
  width: 40%;
  aspect-ratio: 1;

  max-width: 576px;
  max-height: 576px;

  /* Place it in the center */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-cell {

  /* Make the grid item perfectly centered (mind blown) */
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 69px;
  padding: 3.5rem;
  text-align: center;
  border: 1.8px solid white;
  /* border-radius: 20%; */

  /* Prevent grid items from stretching */
  min-width: 0;
  min-height: 0;

  transition: all 0.3s;
}

.box-cell:hover {
  background-color: #1DA11F;
}

body {
  background-color: #AB5DEE;
  /* background-color: black; */
}

.swal-overlay {
  background-color: rgba(29, 221, 51, 0.4);
}

.btn {
  position: absolute;
  font-family: "Press Start 2P";

  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 15%;

  padding: 1rem;
  /* border-radius: 10%; */

  margin-top: 3%;

  background-color: orange;
  color: white;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #1DDD33;
}

.score {
  font-family: "Press Start 2P";
  display: flex;
  justify-content: space-between;
  width: 40%;
  color: greenyellow;
  margin: auto;

}